# ============================
# Node / TypeScript
# ============================
**/node_modules/
dist/
.build/
*.log
*.db

# ============================
# Environment & secrets
# ============================
# .env
# /server/.secrets/

# ============================
# IDE / Editor
# ============================
.vscode/
.idea/

# ============================
# OS-filer
# ============================
.DS_Store
Thumbs.db
